/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Raleway:wght@300;400;700&display=swap');

/* Tema Claro */
.tema-claro {
   --color-title: #111111;
   --background-color: #f5f4f7;
}

/* Tema Escuro */
.tema-escuro {
   --color-title: #fff;
   --background-color: #111111;
}
:root{
   --font-general: 'Raleway', sans-serif;
}
a{
   text-decoration: none;
   color: var(--color-title);
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: var(--background-color);
}
.center{
   max-width: 1280px;
   padding: 0 2%;
   margin: 0 auto;
}
hr{
   opacity: 10%;
   border-color: var(--color-title);
}